%h1 Register

- form_for @user, :url => signup_path do |f|
  = f.error_messages
  = render :partial => "form", :object => f
  %p
    = f.submit "Register"

  %p
    = oauth_register_button :value => "Register with Twitter"


%p
  = authlogic_facebook_login_button
